@import "themes.scss";
@import "../../styles/themify.scss";

///////////////
// Variables //
///////////////
$button-margin: .2rem;

////////////////////
// Inner elements //
////////////////////
.button-margin {
  margin: 0.2rem;
}

.button-text {
  // font-size: 10pt;
  vertical-align: middle;
  z-index: 1;
}

.button svg {
  z-index: 1;
}

////////////////////////////////////////////////////////////////////////////////
// Button container to wrap multiple buttons
////////////////////////////////////////////////////////////////////////////////
.button-container {
  display: flex;
  flex-wrap: wrap;
  margin: -$button-margin;
}

////////////////////////////////////////////////////////////////////////////////
// Base for all buttons
////////////////////////////////////////////////////////////////////////////////
.button-base { // .jr0u89w
  color: inherit;
  border: 0;
  margin: 0;
  cursor: pointer;
  display: inline-flex;
  outline: none;
  padding: 0;
  margin: 0px 3px;
  position: relative;
  align-items: center;
  user-select: none;
  border-radius: 0;
  vertical-align: middle;
  justify-content: center;
  -moz-appearance: none;
  text-decoration: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;

  margin: $button-margin;
}

.button-base.button-disabled { // .jr0u89w.j1p4cocs
  cursor: default;
  pointer-events: none;
}

////////////////////////////////////////////////////////////////////////////////
// General button styles
////////////////////////////////////////////////////////////////////////////////
.button { // .j9la4jl
  color: rgba(0, 0, 0, 0.87);
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  line-height: 1.75;
  // font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;

  font-size: 0.7rem;
  // background-position: center;
  // transition: background 0.5s;

  position: relative;
  overflow: hidden;
}

.button:hover { // .j9la4jl:hover
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.08);
}

.button.button-disabled { // .j9la4jl.j1p4cocs {
  color: rgba(0, 0, 0, 0.26);
}

////////////////////////////////////////////////////////////////////////////////
// Default buttons
////////////////////////////////////////////////////////////////////////////////
.button-default { // .j1hrif9t
  padding: 6px 8px;
  color: #424242;  // material grey 800
  @include themify($themes) {
    color: themed("button-default__color");
  }
}

.button-default.button-selected {
  background-color: rgba(158, 158, 158, 0.2); // material grey 500 20%
  @include themify($themes) {
    background-color: themed("button-default__background-color--selected");
  }
}

.button-default:hover {
  background-color: rgba(158, 158, 158, 0.3); // material grey 500 30%
  @include themify($themes) {
    background-color: themed("button-default__background-color--hover");
  }
}

.button-default-primary { // .j14bbh75
  color: #2196f3; // material blue 500 
  @include themify($themes) {
    color: themed("button-default-primary__color");
  }
}

.button-default-primary.button-selected {
  background-color: rgba(33, 150, 243, 0.1); // material blue 500 10%
  @include themify($themes) {
    background-color: themed("button-default-primary__background-color--selected");
  }
}

.button-default-primary:hover { // .j14bbh75:hover
  background-color: rgba(33, 150, 243, 0.2); // material blue 500 20%
  @include themify($themes) {
    background-color: themed("button-default-primary__background-color--hover");
  }
}

.button-default-secondary { // .j1y9307j
  color: #e91e63; // material pink 500 
  @include themify($themes) {
    color: themed("button-default-secondary__color");
  }
}

.button-default-secondary.button-selected {
  background-color: rgba(233, 30, 99, 0.1); // material pink 500 10%
  @include themify($themes) {
    background-color: themed("button-default-secondary__background-color--selected");
  }
}

.button-default-secondary:hover { // .j1y9307j:hover
  background-color: rgba(233, 30, 99, 0.2); // material pink 500 20%
  @include themify($themes) {
    background-color: themed("button-default-secondary__background-color--hover");
  }
}

.button-default.button-disabled {
  color: rgba(0, 0, 0, 0.26);
  @include themify($themes) {
    color: themed("button-default__color--disabled");
  }
}

////////////////////////////////////////////////////////////////////////////////
// Outline buttons
////////////////////////////////////////////////////////////////////////////////

.button-outline { // .j5jkmku
  border: thin solid;
  padding: 5px 16px;
  color: #424242;  // material grey 800
  border-color: rgba(158, 158, 158, 0.8); // material grey 500 80%
  @include themify($themes) {
    color: themed("button-outline__color");
    border-color: themed("button-outline__border-color");
  }
}

.button-outline.button-selected { 
  border-color: rgba(158, 158, 158, 1.0); // material grey 500 100%
  background-color: rgba(158, 158, 158, 0.2); // material grey 500 20%
  @include themify($themes) {
    border-color: themed("button-outline__border-color--hover");
    background-color: themed("button-outline__background-color--selected");
  }
}

.button-outline:hover { 
  border-color: rgba(158, 158, 158, 1.0); // material grey 500 100%
  background-color: rgba(158, 158, 158, 0.3); // material grey 500 30%
  @include themify($themes) {
    border-color: themed("button-outline__border-color--hover");
    background-color: themed("button-outline__background-color--hover");
  }
}

.button-outline.button-disabled {
  color: rgba(0, 0, 0, 0.26);
  border-color: rgba(0, 0, 0, 0.26);
  @include themify($themes) {
    color: themed("button-outline__color--disabled");
    border-color: themed("button-outline__border-color--disabled");
  }
}

.button-outline-primary { // .j9ze19u
  border: thin solid;
  color: #2196f3; // material blue 500 
  border-color: rgba(33, 150, 243, 0.5); // material blue 500 50%
  @include themify($themes) {
    color: themed("button-outline-primary__color");
    border-color: themed("button-outline-primary__border-color");
  }
}

.button-outline-primary.button-selected { 
  border-color: rgba(33, 150, 243, 1.0); // material blue 500 100%
  background-color: rgba(33, 150, 243, 0.1); // material blue 500 10%
  @include themify($themes) {
    border-color: themed("button-outline-primary__border-color--hover");
    background-color: themed("button-outline-primary__background-color--selected");
  }
}

.button-outline-primary:hover { // .j9ze19u:hover
  border: thin solid;
  border-color: rgba(33, 150, 243, 1.0); // material blue 500 100%
  background-color: rgba(33, 150, 243, 0.2); // material blue 500 20%
  @include themify($themes) {
    border-color: themed("button-outline-primary__border-color--hover");
    background-color: themed("button-outline-primary__background-color--hover");
  }
}

.button-outline-primary.button-disabled { 
  color: rgba(0, 0, 0, 0.26);
  border-color: rgba(0, 0, 0, 0.26);
  @include themify($themes) {
    color: themed("button-outline__color--disabled");
    border-color: themed("button-outline__border-color--disabled");
  }
}

.button-outline-secondary { // .j1xxvqug
  border: thin solid;
  color: #e91e63; // material pink 500 
  border-color: rgba(233, 30, 99, 0.5); // material pink 500 50%
  @include themify($themes) {
    color: themed("button-outline-secondary__color");
    border-color: themed("button-outline-secondary__border-color");
  }
}

.button-outline-secondary.button-selected {
  border-color: rgba(233, 30, 99, 1.0); // material pink 500 100%
  background-color: rgba(233, 30, 99, 0.1); // material pink 500 10%
  @include themify($themes) {
    border-color: themed("button-outline-secondary__border-color--hover");
    background-color: themed("button-outline-secondary__background-color--selected");
  }
}

.button-outline-secondary:hover {
  border: thin solid;
  border-color: rgba(233, 30, 99, 1.0); // material pink 500 100%
  background-color: rgba(233, 30, 99, 0.2); // material pink 500 20%
  @include themify($themes) {
    border-color: themed("button-outline-secondary__border-color--hover");
    background-color: themed("button-outline-secondary__background-color--hover");
  }
}

.button-outline-secondary.button-disabled { 
  border: thin solid;
  color: rgba(0, 0, 0, 0.26);
  border-color: rgba(0, 0, 0, 0.26);
  @include themify($themes) {
    color: themed("button-outline__color--disabled");
    border-color: themed("button-outline__border-color--disabled");
  }
}

////////////////////////////////////////////////////////////////////////////////
// Icon buttons
////////////////////////////////////////////////////////////////////////////////

.button-icon { // .j1g2vga5
  flex: 0 0 auto;
  padding: 12px;
  overflow: visible;
  font-size: 1.5rem;
  text-align: center;
  transition: background 0.5s, background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 50%;

  // Added
  min-width: 1.81rem;
  min-height: 1.81rem;
  font-size: 0.7rem;
  padding: 0.4rem;
  overflow: hidden;

  color: #424242; // material grey 800
  @include themify($themes) {
    color: themed("button-icon__color");
  }
}

.button-icon.small { // .j1g2vga5
  min-width: 0.25rem;
  min-height: 0.25rem;
  padding: 0.2rem;
}

.button-icon.button-selected {
  background-color: rgba(158, 158, 158,0.2); // material grey 500 20%
  @include themify($themes) {
    background-color: themed("button-icon__background-color--selected");
  }
}

.button-icon:hover { // .j1g2vga5:hover
  background-color: rgba(158, 158, 158,0.3); // material grey 500 30%
  @include themify($themes) {
    background: themed("button-icon__background-color--hover");
  }
}

.button-icon-primary { // .j42ua74
  color: #2196f3; // material blue 500 
  @include themify($themes) {
    color: themed("button-icon-primary__color");
  }
}

.button-icon-primary.button-selected {
  background-color: rgba(33, 150, 243,0.1); // material blue 500 10%
  @include themify($themes) {
    background-color: themed("button-icon-primary__background-color--selected");
  }
}

.button-icon-primary:hover { // .j42ua74:hover
  background-color: rgba(33, 150, 243,0.2); // material blue 500 20%
  @include themify($themes) {
    background: themed("button-icon-primary__background-color--hover");
  }
}

.button-icon-secondary { // j1q4g7ue
  color: #e91e63; // material pink 500 
  @include themify($themes) {
    color: themed("button-icon-secondary__color");
  }
}

.button-icon-secondary.button-selected {
  background-color: rgba(233, 30, 99,0.1); // material pink 500 10%
  @include themify($themes) {
    background-color: themed("button-icon-secondary__background-color--selected");
  }
}

.button-icon-secondary:hover { // .j1q4g7ue:hover
  background-color: rgba(233, 30, 99,0.2); // material pink 500 20%
  @include themify($themes) {
    background: themed("button-icon-secondary__background-color--hover");
  }
}

.button-icon.button-disabled { // .j1g2vga5.j1p4cocs
  color: rgba(0, 0, 0, 0.26);
  @include themify($themes) {
    color: themed("button-icon__color--disabled");
  }
}

////////////////////////////////////////////////////////////////////////////////
// Contained buttons
////////////////////////////////////////////////////////////////////////////////

.button-contained { // .jpyw0mp
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12);
  color: #424242;  // material grey 800
  background-color: #e0e0e0; // material grey 300 
  @include themify($themes) {
    color: themed("button-contained__color");
    background-color: themed("button-contained__background-color");
  }
}

.button-contained.button-selected {
  background-color: #bdbdbd; // material grey 400 
  @include themify($themes) {
    background-color: themed("button-contained__background-color--selected");
  }
}

.button-contained:hover { // .jpyw0mp:hover
  background-color: #eeeeee; // material grey 200
  @include themify($themes) {
    background-color: themed("button-contained__background-color--hover");
  }
}

.button-contained:active { // .jpyw0mp:active
  box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2), 0px 8px 10px 1px rgba(0,0,0,0.14), 0px 3px 14px 2px rgba(0,0,0,0.12);
}

.button-contained-primary { // .j1xs0a6r
  color: #fff;
  background-color: #2196f3; // material blue 500
  @include themify($themes) {
    color: themed("button-contained-primary__color");
    background-color: themed("button-contained-primary__background-color");
  }
}

.button-contained-primary.button-selected {
  background-color: #1e88e5; // material blue 600
  @include themify($themes) {
    background-color: themed("button-contained-primary__background-color--selected");
  }
}

.button-contained-primary:hover { // .j1xs0a6r:hover
  background-color: #42a5f5; // material blue 400
  @include themify($themes) {
    background-color: themed("button-contained-primary__background-color--hover");
  }
}

.button-contained-secondary { // .j1qgefk9
  color: #fff;
  background-color: #e91e63; // material pink 500 
  @include themify($themes) {
    color: themed("button-contained-secondary__color");
    background-color: themed("button-contained-secondary__background-color");
  }
}

.button-contained-secondary.button-selected {
  background-color: #d81b60; // material pink 600
  @include themify($themes) {
    background-color: themed("button-contained-secondary__background-color--selected");
  }
}

.button-contained-secondary:hover { // .j1qgefk9:hover
  background-color: #ec407a; // material pink 400
  @include themify($themes) {
    background-color: themed("button-contained-secondary__background-color--hover");
  }
}

.button-contained.button-disabled { // .jpyw0mp.j1p4cocs
  box-shadow: none;
  color: rgba(0, 0, 0, 0.26);
  background-color: rgba(0, 0, 0, 0.12);
  @include themify($themes) {
    color: themed("button-contained__color--disabled");
    background-color: themed("button-contained__background-color--disabled");
  }
}

////////////////////////////////////////////////////////////////////////////////
// Ripple effect
////////////////////////////////////////////////////////////////////////////////

.ripple-container {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  
  animation: ripple 1s;
  opacity: 0;

  @include themify($themes) {
    background-color: themed("ripple__background-color");
  }
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(10);
  }
}
