@import "themes.scss";
@import "../../styles/themify.scss";


///////////////
// Variables //
///////////////
$button-margin: .2rem;




.button-margin {
  margin: 0.2rem;
}

.button-text {
  // font-size: 10pt;
  vertical-align: middle;
}



////////////////////////////////////////////////////////////////////////////////
// Button container to wrap multiple buttons
////////////////////////////////////////////////////////////////////////////////
.button-container {
  display: flex;
  flex-wrap: wrap;
  margin: -$button-margin;
}


////////////////////////////////////////////////////////////////////////////////
// Base for all buttons
////////////////////////////////////////////////////////////////////////////////
.button-base { // .jr0u89w
  color: inherit;
  border: 0;
  margin: 0;
  cursor: pointer;
  display: inline-flex;
  outline: none;
  padding: 0;
  margin: 0px 3px;
  position: relative;
  align-items: center;
  user-select: none;
  border-radius: 0;
  vertical-align: middle;
  justify-content: center;
  -moz-appearance: none;
  text-decoration: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;

  margin: $button-margin;
}

.button-base.button-disabled { // .jr0u89w.j1p4cocs
  cursor: default;
  pointer-events: none;
}

////////////////////////////////////////////////////////////////////////////////
// General button styles
////////////////////////////////////////////////////////////////////////////////
.button { // .j9la4jl
  color: rgba(0, 0, 0, 0.87);
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  line-height: 1.75;
  // font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;

  font-size: 0.7rem;
}

.button:hover { // .j9la4jl:hover
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.08);
}

.button.button-disabled { // .j9la4jl.j1p4cocs {
  color: rgba(0, 0, 0, 0.26);
}

////////////////////////////////////////////////////////////////////////////////
// Contained buttons
////////////////////////////////////////////////////////////////////////////////
.button-contained { // .jpyw0mp
  color: rgba(0, 0, 0, 0.87);
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12);
  background-color: #e0e0e0;
}

.button-contained:hover { // .jpyw0mp:hover
  background-color: #d5d5d5;
}

.button-contained:active { // .jpyw0mp:active
  box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2), 0px 8px 10px 1px rgba(0,0,0,0.14), 0px 3px 14px 2px rgba(0,0,0,0.12);
}

.button-contained-primary { // .j1xs0a6r
  color: #fff;
  background-color: #2196f3;
}

.button-contained-primary:hover { // .j1xs0a6r:hover
  background-color: #1976d2;
}

.button-contained-secondary { // .j1qgefk9
  color: #fff;
  background-color: rgb(225, 0, 80);
}

.button-contained-secondary:hover { // .j1qgefk9:hover
  background-color: rgb(157, 0, 56);
}

.button-contained.button-disabled { // .jpyw0mp.j1p4cocs
  color: rgba(0, 0, 0, 0.26);
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.12);
}

////////////////////////////////////////////////////////////////////////////////
// Default buttons
////////////////////////////////////////////////////////////////////////////////
.button-default { // .j1hrif9t
  padding: 6px 8px;
}

.button-default-primary { // .j14bbh75
  color: #2196f3;
}

.button-default-primary:hover { // .j14bbh75:hover
  background-color: rgba(33, 150, 243, 0.08);
}

.button-default-secondary { // .j1y9307j
  color: rgb(225, 0, 80);
}

.button-default-secondary:hover { // .j1y9307j:hover
  background-color: rgba(225, 0, 80, 0.08);
}

////////////////////////////////////////////////////////////////////////////////
// Outline buttons
////////////////////////////////////////////////////////////////////////////////
.button-outline { // .j5jkmku
  border: thin solid rgba(0, 0, 0, 0.23);
  padding: 5px 16px;
}

.button-outline-primary { // .j9ze19u
  color: #2196f3;
  border: thin solid rgba(33, 150, 243, 0.5);
}

.button-outline-primary:hover { // .j9ze19u:hover
  border: thin solid #2196f3;
  background-color: rgba(33, 150, 243, 0.08);
}

.button-outline-secondary { // .j1xxvqug
  color: rgb(225, 0, 80);
  border: thin solid rgba(225, 0, 80, 0.5);
}

.button-outline-secondary:hover { // .j1xxvqug:hover
  border: thin solid rgb(225, 0, 80);
  background-color: rgba(225, 0, 80, 0.08);
}

.button-outline.button-disabled { // .j5jkmku.j1p4cocs
  border: thin solid rgba(0, 0, 0, 0.26);
}

////////////////////////////////////////////////////////////////////////////////
// Icon buttons
////////////////////////////////////////////////////////////////////////////////
.button-icon { // .j1g2vga5
  flex: 0 0 auto;
  color: rgba(0, 0, 0, 0.54);
  padding: 12px;
  overflow: visible;
  font-size: 1.5rem;
  text-align: center;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 50%;

  // Added
  min-width: 1.81rem;
  min-height: 1.81rem;
  font-size: 0.7rem;
  padding: 0.4rem;
}

.button-icon:hover { // .j1g2vga5:hover
  background-color: rgba(0, 0, 0, 0.08);
}

.button-icon-primary { // .j42ua74
  color: #2196f3;
}

.button-icon-primary:hover { // .j42ua74:hover
  background-color: rgba(33, 150, 243, 0.08);
}

.button-icon-secondary { // j1q4g7ue
  color: rgb(225, 0, 80);
}

.button-icon-secondary:hover { // .j1q4g7ue:hover
  background-color: rgba(225, 0, 80, 0.08);
}

.button-icon.button-disabled { // .j1g2vga5.j1p4cocs
  color: rgba(0, 0, 0, 0.26);
}



























// ////////////////////////////////////////////////////////////////////////////////
// // General button styles
// ////////////////////////////////////////////////////////////////////////////////
// .button { 
//   @include themify($themes) {
//     color: themed("button__color");
//   }
// }

// .button:hover {
//   @include themify($themes) {
//     background-color: themed("button__background-color--hover");
//   }
// }

// .button.button-selected {
//   @include themify($themes) {
//     background-color: themed("button__background-color--hover");
//   }
// }

// .button.button-disabled {
//   @include themify($themes) {
//     color: themed("button__color--disabled");
//   }
// }

////////////////////////////////////////////////////////////////////////////////
// Default buttons
////////////////////////////////////////////////////////////////////////////////
.button-default {
  @include themify($themes) {
    color: themed("button-default__color");
  }
}

.button-default:hover {
  @include themify($themes) {
    background-color: themed("button-default__background-color--hover");
  }
}

.button-default.button-selected {
  @include themify($themes) {
    background-color: themed("button-default__background-color--selected");
  }
}

.button-default.button-disabled {
  @include themify($themes) {
    color: themed("button-default__color--disabled");
  }
}

.button-default-primary {
  @include themify($themes) {
    color: themed("button-default-primary__color");
  }
}

.button-default-primary:hover {
  @include themify($themes) {
    background-color: themed("button-default-primary__background-color--hover");
  }
}

.button-default-primary.button-selected {
  @include themify($themes) {
    background-color: themed("button-default-primary__background-color--selected");
  }
}

.button-default-secondary {
  @include themify($themes) {
    color: themed("button-default-secondary__color");
  }
}

.button-default-secondary:hover {
  @include themify($themes) {
    background-color: themed("button-default-secondary__background-color--hover");
  }
}

.button-default-secondary.button-selected {
  @include themify($themes) {
    background-color: themed("button-default-secondary__background-color--selected");
  }
}


////////////////////////////////////////////////////////////////////////////////
// Outline buttons
////////////////////////////////////////////////////////////////////////////////
.button-outline {
  @include themify($themes) {
    color: themed("button-outline__color");
    border-color: themed("button-outline__border-color");
  }
}

.button-outline:hover { 
  @include themify($themes) {
    border-color: themed("button-outline__border-color--hover");
    background-color: themed("button-outline__background-color--hover");
  }
}

.button-outline.button-selected { 
  @include themify($themes) {
    border-color: themed("button-outline__border-color--hover");
    background-color: themed("button-outline__background-color--selected");
  }
}

.button-outline.button-disabled {
  @include themify($themes) {
    color: themed("button-outline__color--disabled");
    border-color: themed("button-outline__border-color--disabled");
  }
}

.button-outline-primary { 
  @include themify($themes) {
    color: themed("button-outline-primary__color");
    border-color: themed("button-outline-primary__border-color");
  }
}

.button-outline-primary:hover { 
  @include themify($themes) {
    border-color: themed("button-outline-primary__border-color--hover");
    background-color: themed("button-outline-primary__background-color--hover");
  }
}

.button-outline-primary.button-selected { 
  @include themify($themes) {
    border-color: themed("button-outline-primary__border-color--hover");
    background-color: themed("button-outline-primary__background-color--selected");
  }
}

.button-outline-primary.button-disabled { 
  @include themify($themes) {
    color: themed("button-outline__color--disabled");
    border-color: themed("button-outline__border-color--disabled");
  }
}

.button-outline-secondary {
  @include themify($themes) {
    color: themed("button-outline-secondary__color");
    border-color: themed("button-outline-secondary__border-color");
  }
}

.button-outline-secondary:hover {
  @include themify($themes) {
    border-color: themed("button-outline-secondary__border-color--hover");
    background-color: themed("button-outline-secondary__background-color--hover");
  }
}

.button-outline-secondary.button-selected {
  @include themify($themes) {
    border-color: themed("button-outline-secondary__border-color--hover");
    background-color: themed("button-outline-secondary__background-color--selected");
  }
}

.button-outline-secondary.button-disabled { 
  @include themify($themes) {
    color: themed("button-outline__color--disabled");
    border-color: themed("button-outline__border-color--disabled");
  }
}



////////////////////////////////////////////////////////////////////////////////
// Icon buttons
////////////////////////////////////////////////////////////////////////////////
.button-icon {
  @include themify($themes) {
    color: themed("button-icon__color");
  }
}

.button-icon:hover {
  @include themify($themes) {
    background-color: themed("button-icon__background-color--hover");
  }
}

.button-icon.button-selected {
  @include themify($themes) {
    background-color: themed("button-icon__background-color--selected");
  }
}

.button-icon.button-disabled {
  @include themify($themes) {
    color: themed("button-icon__color--disabled");
  }
}

.button-icon-primary {
  @include themify($themes) {
    color: themed("button-icon-primary__color");
  }
}

.button-icon-primary:hover {
  @include themify($themes) {
    background-color: themed("button-icon-primary__background-color--hover");
  }
}

.button-icon-primary.button-selected {
  @include themify($themes) {
    background-color: themed("button-icon-primary__background-color--selected");
  }
}

.button-icon-secondary {
  @include themify($themes) {
    color: themed("button-icon-secondary__color");
  }
}

.button-icon-secondary:hover { 
  @include themify($themes) {
    background-color: themed("button-icon-secondary__background-color--hover");
  }
}

.button-icon-secondary.button-selected { 
  @include themify($themes) {
    background-color: themed("button-icon-secondary__background-color--selected");
  }
}

.button-icon.button-disabled {
  @include themify($themes) {
    color: themed("button-icon-secondary__color--disabled");
  }
}

////////////////////////////////////////////////////////////////////////////////
// Contained buttons
////////////////////////////////////////////////////////////////////////////////
.button-contained {
  @include themify($themes) {
    color: themed("button-contained__color");
    background-color: themed("button-contained__background-color");
  }
}

.button-contained:hover {
  @include themify($themes) {
    background-color: themed("button-contained__background-color--hover");
  }
}

.button-contained.button-selected {
  @include themify($themes) {
    background-color: themed("button-contained__background-color--selected");
  }
}

.button-contained-primary {
  @include themify($themes) {
    color: themed("button-contained-primary__color");
    background-color: themed("button-contained-primary__background-color");
  }
}

.button-contained-primary:hover {
  @include themify($themes) {
    background-color: themed("button-contained-primary__background-color--hover");
  }
}

.button-contained-primary.button-selected {
  @include themify($themes) {
    background-color: themed("button-contained-primary__background-color--hover");
  }
}

.button-contained-secondary {
  @include themify($themes) {
    color: themed("button-contained-secondary__color");
    background-color: themed("button-contained-secondary__background-color");
  }
}

.button-contained-secondary:hover {
  @include themify($themes) {
    background-color: themed("button-contained-secondary__background-color--hover");
  }
}

.button-contained-secondary.button-selected {
  @include themify($themes) {
    background-color: themed("button-contained-secondary__background-color--hover");
  }
}

.button-contained.button-disabled {
  @include themify($themes) {
    color: themed("button-contained__color--disabled");
    background-color: themed("button-contained__background-color--disabled");
  }
}



