$themes: (
  light: (
    ////////////////////////////////////////////////////////////////////////////////
    // Default buttons
    ////////////////////////////////////////////////////////////////////////////////
    button-default__color: rgba(0,0,0,0.87),
    button-default__color--disabled: rgba(0, 0, 0, 0.26),
    button-default__background-color--hover: rgba(0, 0, 0, 0.08),
    button-default__background-color--selected: rgba(0, 0, 0, 0.08),
    button-default-primary__color: #2196f3,
    button-default-primary__background-color--hover: rgba(33, 150, 243, 0.08),
    button-default-primary__background-color--selected: rgba(33, 150, 243, 0.08),
    button-default-secondary__color: rgb(225, 0, 80),
    button-default-secondary__background-color--hover: rgba(225, 0, 80, 0.08),
    button-default-secondary__background-color--selected: rgba(225, 0, 80, 0.08),

    ////////////////////////////////////////////////////////////////////////////////
    // Contained buttons
    ////////////////////////////////////////////////////////////////////////////////
    button-contained__color: rgba(0, 0, 0, 0.87),
    button-contained__background-color: #e0e0e0,
    button-contained__background-color--hover: #d5d5d5,
    button-contained__background-color--selected: #d5d5d5,
    button-contained__color--disabled: rgba(0, 0, 0, 0.26),
    button-contained__background-color--disabled: rgba(0, 0, 0, 0.12),
    button-contained-primary__color: #fff,
    button-contained-primary__background-color: #2196f3,
    button-contained-primary__background-color--hover: #1976d2,
    // button-contained-primary__background-color--selected: #1976d2,
    button-contained-secondary__color: #fff,
    button-contained-secondary__background-color: rgb(225, 0, 80),
    button-contained-secondary__background-color--hover: rgb(157, 0, 56),
    // button-contained-secondary__background-color--selected: rgb(157, 0, 56),

    ////////////////////////////////////////////////////////////////////////////////
    // Outline buttons
    ////////////////////////////////////////////////////////////////////////////////
    button-outline__border-color: rgba(0, 0, 0, 0.23),
    button-outline__border-color--disabled: rgba(0, 0, 0, 0.26),
    button-outline__color--disabled: rgba(0, 0, 0, 0.26),
    button-outline__background-color--hover: rgba(0, 0, 0, 0.08),
    button-outline__background-color--selected: rgba(0, 0, 0, 0.08),
    button-outline-primary__color: #2196f3,
    button-outline-primary__color--disabled: rgba(0, 0, 0, 0.1),
    button-outline-primary__border-color: rgba(33, 150, 243, 0.5),
    button-outline-primary__border-color--hover: #2196f3,
    button-outline-primary__background-color--hover: rgba(33, 150, 243, 0.08),
    // button-outline-primary__border-color--selected: #2196f3,
    button-outline-primary__background-color--selected: rgba(33, 150, 243, 0.08),
    button-outline-secondary__color: rgb(225, 0, 80),
    button-outline-secondary__border-color: rgba(225, 0, 80, 0.5),
    button-outline-secondary__border-color--hover: rgb(225, 0, 80),
    button-outline-secondary__background-color--hover: rgba(225, 0, 80, 0.08),
    // button-outline-secondary__border-color--selected: rgb(225, 0, 80),
    button-outline-secondary__background-color--selected: rgba(225, 0, 80, 0.08),

    ////////////////////////////////////////////////////////////////////////////////
    // Icon buttons
    ////////////////////////////////////////////////////////////////////////////////
    button-icon__color: rgba(0, 0, 0, 0.54),
    button-icon__background-color--hover: rgba(0, 0, 0, 0.08),
    button-icon__background-color--selected: rgba(0, 0, 0, 0.08),
    button-icon__color--disabled: rgba(0, 0, 0, 0.26),
    button-icon-primary__color: #2196f3,
    button-icon-primary__background-color--hover: rgba(33, 150, 243, 0.08),
    button-icon-primary__background-color--selected: rgba(33, 150, 243, 0.08),
    button-icon-secondary__color: rgb(225, 0, 80),
    button-icon-secondary__background-color--hover: rgba(225, 0, 80, 0.08),
    button-icon-secondary__background-color--selected: rgba(225, 0, 80, 0.08),
  ),
  dark: (
    ////////////////////////////////////////////////////////////////////////////////
    // Default buttons
    ////////////////////////////////////////////////////////////////////////////////
    button-default__color: #cacbcb,
    button-default__color--disabled: rgba(255, 255, 255, 0.26),
    button-default__background-color--hover: rgba(255, 255, 255, 0.2),
    button-default__background-color--selected: rgba(255, 255, 255, 0.2),
    button-default-primary__color: #2196f3,
    button-default-primary__background-color--hover: rgba(33, 150, 243, 0.3),
    button-default-primary__background-color--selected: rgba(33, 150, 243, 0.3),
    button-default-secondary__color: #e57373,
    button-default-secondary__background-color--hover: rgba(225, 0, 80, 0.3),
    button-default-secondary__background-color--selected: rgba(225, 0, 80, 0.3),

    ////////////////////////////////////////////////////////////////////////////////
    // Outline buttons
    ////////////////////////////////////////////////////////////////////////////////
    button-outline__color: #cacbcb,
    button-outline__color--disabled: rgba(255, 255, 255, 0.26),
    button-outline__border-color: #616161,
    button-outline__border-color--hover: rgba(255, 255, 255, 0.5),
    button-outline__border-color--disabled: rgba(255, 255, 255, 0.26),
    button-outline__background-color--hover: rgba(255, 255, 255, 0.2),
    button-outline__background-color--selected: rgba(255, 255, 255, 0.2),
    button-outline-primary__color: #2196f3,
    button-outline-primary__border-color: rgba(33, 150, 243, 0.5),
    button-outline-primary__border-color--hover: #2196f3,
    button-outline-primary__background-color--hover: rgba(33, 150, 243, 0.3),
    button-outline-primary__background-color--selected: rgba(33, 150, 243, 0.3),
    button-outline-secondary__color: #e57373,
    button-outline-secondary__border-color: rgba(225, 0, 80, 0.5),
    button-outline-secondary__border-color--hover: #e57373,
    button-outline-secondary__background-color--hover: rgba(225, 0, 80, 0.3),
    button-outline-secondary__background-color--selected: rgba(225, 0, 80, 0.3),

    ////////////////////////////////////////////////////////////////////////////////
    // Icon buttons
    ////////////////////////////////////////////////////////////////////////////////
    button-icon__color: #cacbcb,
    button-icon__background-color--hover: rgba(255, 255, 255, 0.2),
    button-icon__background-color--selected: rgba(255, 255, 255, 0.2),
    button-icon__color--disabled: rgba(255, 255, 255, 0.26),
    button-icon-primary__color: #2196f3,
    button-icon-primary__background-color--hover: rgba(33, 150, 243, 0.3),
    button-icon-primary__background-color--selected: rgba(33, 150, 243, 0.3),
    button-icon-secondary__color: #e57373,
    button-icon-secondary__background-color--hover: rgba(225, 0, 80, 0.3),
    button-icon-secondary__background-color--selected: rgba(225, 0, 80, 0.3),

    ////////////////////////////////////////////////////////////////////////////////
    // Contained buttons
    ////////////////////////////////////////////////////////////////////////////////
    button-contained__color: #cacbcb,
    button-contained__background-color: #4d5250,
    button-contained__background-color--hover: rgba(255, 255, 255, 0.08),
    button-contained__background-color--selected: rgba(255, 255, 255, 0.08),
    button-contained__color--disabled: rgba(255, 255, 255, 0.26),
    button-contained__background-color--disabled: rgba(255, 255, 255, 0.12),
    button-contained-primary__color: #fff,
    button-contained-primary__background-color: #2196f3,
    button-contained-primary__background-color--hover: #1976d2,
    button-contained-secondary__color: #fff,
    button-contained-secondary__background-color: rgb(225, 0, 80),
    button-contained-secondary__background-color--hover: rgb(157, 0, 56),
  )
);
