.react-sweet-progress-line-inner-status-active:before {
  // Get rid of the scrolling animation effect on the progress bar
  animation: none;
}

.processing-list__load-more-button {
  width: 100%;
}

.ReactTable.tracker-table .rt-td {
  padding: 0px;
}

.ReactTable.tracker-table .progress {
  margin: 0px;
  padding: 0px;
}

.ReactTable.tracker-table .progress-column .progress {
  background-color: transparent;
}

.ReactTable.tracker-table .name-column .label {
  width: 100%;
}

.ReactTable.rt-rt td {
  padding-top: 0.185714em;
  padding-right: 0.1785714em;
  padding-bottom: 0.1785714em;
  padding-left: 0.1785714em;
}
