// .DocRefEditor {
//   display: flex;
//   flex-direction: column;
// }

.DocRefEditor__focusarea {
  outline: none;
}

// .DocRefEditor__header {
//   width: 100%;
//   display: inline-flex;
//   flex-direction: row;
//   flex-shrink: 0;
// }

// .DocRefEditor__search {
//   padding: 0.4rem;
//   // display: inline-flex;
//   // flex-direction: row;
//   flex-shrink: 0;
// }

// .DocRefEditor__search * {
//   padding: 0px !important;
//   margin: 0px !important;
// }

.DocRefEditor__search__value-container {
  padding: 0px 8px !important;
}

.DocRefEditor__search__control {
  border-radius: 100px !important;
}

.DocRefEditor__search__placeholder + div{
  margin: 0px;
  padding: 0px;
}

// .DocRefEditor__search__control:hover{
//   border: 1px solid #0277bd !important;
//   box-shadow: 0 0 0 1px #0277bd !important;
// }



// .DocRefEditor__breadcrumb {
//   padding: 0.4rem;
//   // display: inline-flex;
//   // flex-direction: row;
//   flex-shrink: 0;
// }

// .DocRefEditor__actionButtons {
//   position: absolute;
//   top: 0px;
//   right: 0px;
//   justify-self: right;
// }

// .DocRefEditor__main {
//   position: relative;
//   flex-grow: 1;
//   overflow: hidden;
// }
