// .table__container {
//   height: calc(100% - 40px);
//   position: relative;
// }

// .table__reactTable__container {
//   position: absolute;
//   top: 0; // If you want to push the top of the table down a bit, e.g. for a toolbar, do it here.
//   right: 0;
//   left: 0;
//   bottom: 0;
// }

// .table__reactTable {
//   position: absolute;
//   top: 0px;
//   right: 0;
//   left: 0;
//   bottom: 0;
//   border: none;
//   padding-left: 7px;
// }

// .table__reactTable .rt-td {
//   padding: 2px 2px;
// }

// .table__reactTable .rt-tbody .rt-td {
//   border-right: none; // Make the table much more compact
// }

// .table__reactTable .rt-table .rt-body .rt-tr-group {
//   max-height: 23px;
// }

.ReactTable {
  width: 100%;
}

.ReactTable .-pagination {
  display: grid;
  grid-template-columns: 4rem 1fr 4rem;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.1);
}

.ReactTable .rt-thead {
  flex: 0 0 auto; // Stop rows expanding to fit all vertical space
}

.ReactTable .rt-tbody {
  flex: 0 1 auto; // Stop rows expanding to fit all vertical space
}

// // Style table headers
.ReactTable .rt-th {
  font-weight: bold;
  text-align: left;
}

.ReactTable .rt-tr {
  // Add invisible borders to all rows so we can change them to highlight borders when focussed without changing spacing.
  border: solid thin transparent;
}

.ReactTable .rt-td {
  // Make the table much more compact
  padding: 1px 5px;
}

.ReactTable .rt-tbody .rt-td {
  border-right: none; // Clean up lines
}

.ReactTable .header {
  // We don't need the line under the header
  border-bottom: none;
}

.ReactTable .rt-thead.-header {
  // box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.15) !important;

  // border-bottom: 2px solid rgba(0,0,0,0.1);
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.15) !important;
}

.ReactTable .rt-tbody .rt-tr-group {
  // We don't need lines between the rows
  border-bottom: none;
}






// .ReactTable .rt-tbody .rt-tr-group {
//   max-height: 23px;
// }

// .ReactTable .rt-th,
// .ReactTable .rt-td {
//   padding: 2px 2px;
// }

// .ReactTable .rt-thead.header {
//   box-shadow: none;
//   border-bottom: solid 1px lightgrey;
// }
