$themes: (
  light: (
    // Page
    page__background-color: #fff,
    page__text-color: rgba(0, 0, 0, 0.8),

    // Controls
    control__background-color: #fff,
    control__text-color: rgba(0, 0, 0, 0.8),
    control__border-color: rgba(0,0,0,0.1),
    control__border-color--focussed: #809db1,
    control__text-color--focussed: rgba(0, 0, 0, 0.8),
    control__background-color--hover: #e8e8e8,
    control__text-color--hover: rgba(0, 0, 0, 0.8),
    control__background-color--selected: #cae1f1,
    control__text-color--selected: #000,


    // Pipeline editor
    raised-low__background-color: #e4e4e4,
    raised-low__text-color: rgba(0, 0, 0, 0.8),
    raised-high__background-color: #2185d0,
    raised-high__text-color: rgba(0, 0, 0, 0.8),
    raised-high__selected-background-color: red,
    raised-high__selected-focus-background-color: #1c70b1,
    raised-element__border: thin solid #fff,


    border-color: rgba(0,0,0,0.1),

    // Specific
    header__icon-color: #2185d0,
  ),
  dark: (
    // Page
    page__background-color: #212121,
    page__text-color: #cacbcb,

    // Input
    control__background-color: #1e1e1e,
    control__text-color: #cacbcb,
    control__border-color: #4d5250,
    control__border-color--focussed: #0f3e5f,
    control__text-color--focussed: #cacbcb,
    control__background-color--hover: #1f4a69,
    control__text-color--hover: #cacbcb,
    control__background-color--selected: #185e90,
    control__text-color--selected: #fff,



    // Pipeline editor
    raised-low__background-color: #adadad,
    raised-low__text-color: #cacbcb,
    raised-high__background-color: #4d5250,
    raised-high__text-color: #cacbcb,
    raised-high__selected-background-color: #747c79,
    raised-high__selected-focus-background-color: #747c79,
    raised-element__border: thin solid #aaa,
    border-color: #4d5250,

    // Specific
    header__icon-color: #2185d0,
  )
);
