.icon-header {
  display: inline-flex;
  padding: .36rem;
  align-items: center;
  // height: 2.7rem;
}

.icon-header {
  font-size: large;
  font-weight: bold;
}

.icon-header__icon {
  // padding-right: .3rem;
}

.icon-header__text {
  padding-right: .3rem;
  padding-left: .3rem;
  font-size: 18pt;
}
