.icon-header {
  display: inline-flex;
  margin: .36rem;
  align-items: center;
}

.icon-header {
  font-size: large;
  font-weight: bold;
}

.icon-header__icon {
  padding-right: 5px;
}

.icon-header__text {
  padding-right: 5px;
  font-size: 18pt;
}
